In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('creditcard.csv')

In [3]:
df.head()

,Unnamed: 0,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [4]:
df.shape

(1319, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1319 non-null   int64
 1   card         1319 non-null   object
 2   reports      1319 non-null   int64
 3   age          1319 non-null   float64
 4   income       1319 non-null   float64
 5   share        1319 non-null   float64
 6   expenditure  1319 non-null   float64
 7   owner        1319 non-null   object
 8   selfemp      1319 non-null   object
 9   dependents   1319 non-null   int64
 10  months       1319 non-null   int64
 11  majorcards   1319 non-null   int64
 12  active       1319 non-null   int64
dtypes: float64(4), int64(6), object(3)
memory usage: 134.1+ KB

In [14]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [15]:
df.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [16]:
df.isna().sum()

card           0
reports        0
age            0
income         0
share          0
expenditure    0
owner          0
selfemp        0
dependents     0
months         0
majorcards     0
active         0
dtype: int64

In [17]:
df['reports'].value_counts()

0     1060
1      137
2       50
3       24
4       17
5       11
7        6
6        5
11       4
9        2
14       1
12       1
10       1
Name: reports, dtype: int64

In [21]:
pd.crosstab(df['reports'], df['card'])

card      no  yes
reports
0        145  915
1         47   90
2         37   13
3         20    4
4         16    1
5         11    0
6          5    0
7          6    0
9          2    0
10         1    0
11         4    0
12         1    0
14         1    0

In [22]:
pd.crosstab(df['age'], df['card'])

card       no  yes
age
0.166667    0    1
0.500000    0    2
0.583333    0    2
0.750000    1    1
18.166670   0    1
...        ..  ...
69.750000   1    0
71.833340   0    1
74.166660   0    1
80.166660   1    0
83.500000   0    1

[418 rows x 2 columns]

In [23]:
pd.crosstab(df['selfemp'], df['card'])

card      no  yes
selfemp
no       268  960
yes       28   63

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
label_encoder = LabelEncoder()

In [28]:
for label,content in df.items():
    if df[label].dtype=='O':
        df[label]=label_encoder.fit_transform(df[label])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   card         1319 non-null   int32
 1   reports      1319 non-null   int64
 2   age          1319 non-null   float64
 3   income       1319 non-null   float64
 4   share        1319 non-null   float64
 5   expenditure  1319 non-null   float64
 6   owner        1319 non-null   int32
 7   selfemp      1319 non-null   int32
 8   dependents   1319 non-null   int64
 9   months       1319 non-null   int64
 10  majorcards   1319 non-null   int64
 11  active       1319 non-null   int64
dtypes: float64(4), int32(3), int64(5)
memory usage: 108.3 KB

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X = df.drop('card',axis=1)
y = df['card']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
model = LogisticRegression()

In [36]:
model.fit(X_train, y_train)

F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
model.score(X_train, y_train)

0.9800947867298578

In [57]:
preds = model.predict(X_test)
preds

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1])

In [58]:
y_test

9       1
1109    1
1055    1
1221    1
583     1
       ..
184     0
1112    1
235     1
1246    0
407     1
Name: card, Length: 264, dtype: int32

In [40]:
from sklearn.metrics import accuracy_score, classification_report

In [63]:
from sklearn.metrics import roc_auc_score

In [51]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.95      1.00      0.98        63
           1       1.00      0.99      0.99       201

    accuracy                           0.99       264
   macro avg       0.98      0.99      0.98       264
weighted avg       0.99      0.99      0.99       264

In [45]:
accuracy_score(y_test, preds)

0.9886363636363636

In [64]:
roc_auc_score(y_test, preds)

0.9925373134328358